@charset "UTF-8";
/* Start Default */
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  color: #fff;
}

::-moz-selection {
  color: #fff;
  background: #1c1c1c;
}

::selection {
  color: #fff;
  background: #1c1c1c;
}

body {
  width: 100%;
  overflow-x: hidden !important;
  background-color: #404041;
  direction: rtl;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #c3996b;
}

@media (max-width: 900px) {
  body::-webkit-scrollbar {
    width: 0px;
  }
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #1c1c1c; /* Border color */
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

/* Change the color of the checkbox when checked */
input[type=checkbox]:checked {
  border-color: #1c1c1c; /* Border color when checked */
  background-color: #1c1c1c; /* Background color when checked */
}

/* Style the checkmark inside the checkbox */
input[type=checkbox]::before {
  content: "✓"; /* Unicode character for checkmark */
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  font-size: 16px;
  color: #fff; /* Checkmark color */
  line-height: 16px;
  text-align: center;
  visibility: hidden;
}

/* Show the checkmark when the checkbox is checked */
input[type=checkbox]:checked::before {
  visibility: visible;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-right {
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-top {
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.opacity {
  opacity: 0;
}

.opacity-ani {
  opacity: 0;
  animation: opacityani 800ms ease 500ms forwards;
}

@keyframes opacityani {
  100% {
    opacity: 1;
  }
}
/* End Default */
.box {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.box2 {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
}

/* End Default */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transition: 0.3s all ease;
}

nav.color {
  background-color: #1c1c1c;
}

.goTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}
.goTop span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #1c1c1c;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
  cursor: pointer;
  transition: 0.2s;
}
.goTop span i {
  color: #fff;
  font-size: 1.5em;
}
.goTop span:hover {
  background-color: #c3996b;
}
.goTop span:hover i {
  color: #1c1c1c;
}

.f-s {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.links {
  display: flex;
  height: 90px;
  z-index: 4;
}

.mainLinks {
  display: flex;
  list-style: none;
  gap: 25px;
}

.link {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  color: #fff;
  text-transform: capitalize;
}
.link img {
  width: 7px;
}

.link {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 90px;
  gap: 5px;
  transition: 0.2s;
}
.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  bottom: 25px;
  left: -101%;
  background-color: #c3996b;
  transition: 0.2s all ease;
}

.link.active::after {
  left: 0;
}

.menu {
  display: none;
  flex-direction: column;
  position: relative;
  height: 80px;
  width: 35px;
  border: none;
  outline: none;
  background-color: transparent;
}
.menu span {
  height: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  transition: 0.3s;
}
.menu span:nth-child(1) {
  top: 28px;
}
.menu span:nth-child(2) {
  top: 40px;
}
.menu span:nth-child(3) {
  top: 52px;
}

.activeMenu .box .menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 40px;
  background-color: red;
}

.activeMenu .box .menu span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.activeMenu .box .menu span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: red;
  top: 40px;
}

.ls {
  display: flex;
  gap: 20px;
}
.ls .mLinks {
  display: none;
}

@media (max-width: 901px) {
  .menu {
    display: flex;
  }
  .last .mLinks {
    display: none;
  }
  .ls {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    top: 80px;
    left: -100%;
    gap: 0;
    transition: 0.4s;
    background-color: #1c1c1c;
    padding: 0 0 70px 0;
  }
  .ls .mLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 5%;
  }
  .ls::-webkit-scrollbar {
    width: 0px;
  }
  .mainLinks {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    gap: 20px;
  }
  .link {
    margin-right: 5%;
  }
  .link {
    height: 40px;
  }
  .link::after {
    bottom: 0;
  }
  .activeMenu .f-s .links .ls {
    left: 0;
  }
  .layer {
    display: none;
  }
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-bottom: 5px solid #c3996b;
  overflow: hidden;
  direction: ltr;
}

.homeImgs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.m1 {
  position: relative;
  margin-right: auto;
  width: 33.3333333333%;
  height: 100%;
  z-index: 1;
  transition: 0.3s all ease;
}
.m1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.m1.active {
  width: 50%;
}

.m2 {
  position: relative;
  margin-left: auto;
  width: 33.3333333333%;
  height: 100%;
  z-index: 1;
  transition: 0.3s all ease;
}
.m2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.m2.active2 {
  width: 50%;
}

.shadow {
  position: relative;
  transition: 0.3s all ease;
}
.shadow::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  transition: 0.3s all ease;
}
.shadow:hover::after {
  background-color: transparent;
}

.imgs {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 2;
  transition: 400ms all ease;
  width: 70%;
}
.imgs .shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(-10deg);
  width: 33.3333333333%;
  position: relative;
  overflow: hidden;
}
.imgs .shadow:hover {
  width: 66.6666666667%;
}
.imgs .shadow img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.imgs.active {
  transform: translateX(23%);
}

.imgs.active2 {
  transform: translateX(-23%);
}

.ht {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.readM {
  padding: 5px 25px;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  z-index: 3;
  gap: 5px;
  position: absolute;
  bottom: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 0.3s all ease;
}
.readM i {
  transition: 0.3s all ease;
}
.readM:hover {
  background-color: #c3996b;
  color: #1c1c1c;
}
.readM:hover i {
  color: #1c1c1c;
}

.mySwiper {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mySwiper .swiper-slide {
  margin: 0 auto;
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 5px;
  outline: 2px solid #c3996b;
  background-color: #fff;
}
.client img {
  position: absolute;
  width: 85%;
  height: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pb50 {
  padding-bottom: 50px;
}

@media (max-width: 360px) {
  .client {
    margin: 0 auto;
  }
}
.counter {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.counterCard {
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  background-color: #1c1c1c;
  transition: 0.3s all ease;
}
.counterCard::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 105%;
  background-color: transparent;
  border-radius: 5px;
  z-index: -1;
  transition: 0.3s all ease;
}
.counterCard:hover {
  scale: 1.05;
}
.counterCard:hover::after {
  background-color: rgba(28, 28, 28, 0.5);
}
.counterCard h1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 3.5em;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 600;
  color: #c3996b;
  line-height: 1.25;
  z-index: 2;
}
.counterCard h1::after {
  content: "+";
  font-size: 0.5em;
}
.counterCard span {
  font-size: 1.2em;
  white-space: nowrap;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 2;
}
.counterCard i {
  position: absolute;
  z-index: 1;
  font-size: 10em;
  color: #c3996b;
  opacity: 0.1;
}

.counterInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media (max-width: 1200px) {
  .counter {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .counterCard {
    height: 170px;
    width: calc(50% - 10px);
  }
  .counterCard h1 {
    font-size: 2.5em;
  }
  .counterCard span {
    font-size: 1em;
  }
  .counterCard i {
    font-size: 6em;
  }
}
@media (max-width: 350px) {
  .counterCard {
    height: 150px;
  }
  .counterCard h1 {
    font-size: 2em;
  }
  .counterCard span {
    font-size: 0.9em;
  }
  .counterCard i {
    font-size: 5em;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #1c1c1c;
  direction: rtl;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerLogo img {
  width: 250px;
}
.footerLogo .aboutText {
  width: 400px;
}
.footerLogo .aboutText article p {
  font-size: 1em;
}

.footerLinkGroup {
  display: flex;
  gap: 100px;
  direction: rtl;
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.linkGroup h2 {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
.linkGroup h2::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #c3996b;
}
.linkGroup ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.linkGroup ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1em;
  line-height: 1.7;
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s all ease;
  font-weight: 300;
}
.linkGroup ul li a img {
  width: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.linkGroup ul li a:hover {
  color: #c3996b;
}

.cont {
  width: 290px;
}
.cont ul li:nth-child(1) a {
  line-height: 1.5;
}
.cont ul li a {
  line-height: 2;
}
.cont ul li a img {
  width: 20px;
}

.drop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.drop .dropMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: 43px;
  padding: 0 20px;
  position: absolute;
  top: calc(100% + 20px);
  background-color: #c3996b;
  border-radius: 5px;
}
.drop .dropMenu a {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
}
.drop .dropMenu a .langu {
  width: 20px;
  margin-top: 3px;
}
.drop a {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fff;
}
.drop a .langu {
  width: 20px;
}
.drop a .drop-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6px;
  transition: 0.2s;
  transform: translateY(1px) rotate(-180deg);
}
.drop .dropMenu {
  right: 3%;
}

.drop.active .dropMenu {
  display: flex;
}
.drop.active .drop-icon {
  transform: rotate(90deg);
}

.media {
  display: flex;
  gap: 10px;
  transform: translateY(-10px);
}
.media a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #fff;
  transition: 200ms all ease;
}
.media a i {
  font-size: 1.3em;
  color: #1c1c1c;
  transition: 200ms all ease;
}
.media a:hover {
  background-color: #c3996b;
}
.media a:hover i {
  color: #fff;
}

@media (max-width: 1001px) {
  .footer {
    flex-direction: column;
    gap: 30px;
    direction: rtl;
  }
}
@media (max-width: 601px) {
  .footerLinkGroup {
    flex-direction: column;
    gap: 30px;
  }
  .linkGroup {
    width: 100%;
  }
  .cont {
    width: 100%;
  }
}
@media (max-width: 421px) {
  .footerLogo img {
    width: 200px;
  }
  .footerLogo .aboutText {
    width: 100%;
  }
}
@media (max-width: 551px) {
  .circle {
    display: none;
  }
}
.homePlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  z-index: 5;
  background-color: #1c1c1c;
  cursor: pointer;
  transition: 0.3s all ease;
}
.homePlay i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3em;
}
.homePlay::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: -1;
  transition: 0.2s all ease;
}
.homePlay:hover::after {
  background-color: rgba(28, 28, 28, 0.5);
}
.homePlay .fa-pause {
  display: none;
}

.preventPlay {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.hxt {
  position: absolute;
  display: flex;
  justify-content: right;
  z-index: 3;
  direction: rtl;
  transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
}

.homeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 550px;
}
.homeText h1 {
  color: #fff;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
}
.homeText h1 span {
  font-size: 1.7em;
}
.homeText a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  text-transform: uppercase;
  height: 40px;
  border-radius: 7px;
  color: #fff;
  transition: 0.3s all ease;
  background-color: #1c1c1c;
  margin-top: 10px;
}
.homeText a::after {
  border-radius: 7px;
  content: "";
  position: absolute;
  width: 150px;
  height: 50px;
  z-index: -1;
  transition: 0.2s all ease;
}
.homeText a:hover::after {
  background-color: rgba(28, 28, 28, 0.5);
}

.pause .homePlay {
  bottom: 20px;
}
.pause .homePlay .fa-pause {
  display: block;
}
.pause .homePlay .fa-play {
  display: none;
}
.pause .readM {
  bottom: -100%;
}
.pause .hxt {
  transform: translateX(-200%);
}
.pause .preventPlay {
  display: none;
}

@media (max-width: 550px) {
  .homeText h1 {
    font-size: 2em;
  }
}
.p50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.swiper {
  width: 100%;
}

.aboutCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.aboutCont img {
  width: 300px;
  border-radius: 5px;
}

.aboutText {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.aboutText p,
.aboutText h1 {
  position: relative;
  padding-right: 20px;
}
.aboutText p::before,
.aboutText h1::before {
  position: absolute;
  right: 0;
  content: "";
  width: 4px;
  height: 100%;
  background-color: #c3996b;
}
.aboutText h1 {
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}
.aboutText h1 img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0;
}
.aboutText a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 40px;
  border-radius: 7px;
  padding: 0 30px;
  transition: 0.3s all ease;
  background-color: #c3996b;
}
.aboutText a::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 47px;
  background-color: transparent;
  border-radius: 7px;
  z-index: -1;
  transition: 0.3s all ease;
}
.aboutText a:hover {
  scale: 1.05;
}
.aboutText a:hover::after {
  background-color: rgba(28, 28, 28, 0.5);
}
.aboutText a:hover {
  background-color: #1c1c1c;
}
.aboutText a:hover::after {
  background-color: rgba(28, 28, 28, 0.5);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #1c1c1c;
  z-index: 2;
}
header h1 {
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
}

.mySwiper2 .swiper-slide img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #c3996b;
  border-radius: 9px;
}
.mySwiper2 .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  transition: 0.2s;
}
.mySwiper2 .swiper-pagination-bullet-active {
  background-color: #c3996b;
}

.clients {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.clientsInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viw {
  padding: 5px 25px;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  z-index: 2;
  gap: 5px;
  bottom: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 0.3s all ease;
}
.viw i {
  transition: 0.3s all ease;
}
.viw:hover {
  background-color: #c3996b;
  color: #1c1c1c;
}
.viw:hover i {
  color: #1c1c1c;
}

@media (max-width: 800px) {
  .aboutText {
    width: 100%;
  }
}
@media (max-width: 370px) {
  .aboutText h1 {
    font-size: 1.5em;
  }
  .aboutText p {
    font-size: 0.9em;
  }
}
@media (max-width: 550px) {
  .mySwiper2 .swiper-slide img {
    height: 200px;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  animation: hide 400ms ease 3000ms forwards;
}
.loader img:nth-child(2) {
  width: 80px;
  margin-left: 25px;
}

@keyframes hide {
  100% {
    top: 100%;
  }
}
.loaderLogo {
  opacity: 0;
  animation: loader 1.5s linear 0s infinite forwards;
}
.loaderLogo img {
  width: 170px;
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ps {
  padding: 50px 0 50px 20px;
}

.pw0 {
  padding: 0 20px 50px 0;
}

.mySwiper3 {
  padding: 50px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.product {
  display: flex;
  align-items: flex-start;
  width: 200px;
  height: 280px;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  background-color: #1c1c1c;
}

@media (max-width: 360px) {
  .mySwiper3 .product {
    margin: 0 auto;
  }
}
.pImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: #fff;
  border-radius: 7px 7px 0 0;
}
.pImg img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ptext {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  border-top: 3px solid #c3996b;
}
.ptext h1 {
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
}

.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  direction: ltr;
  padding-top: 10px;
}
.price span {
  color: #c3996b;
  font-weight: 600;
}

.co {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  border-radius: 0 0 7px 7px;
  width: 40px;
  height: 40px;
  top: 6px;
  left: 6px;
}
.co img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  position: relative;
  border-bottom: 5px solid #c3996b;
  flex-direction: column;
  gap: 10px;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.4941176471);
}
.header img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header h1 {
  color: #fcfcfc;
  z-index: 2;
  font-size: 4em;
  text-transform: uppercase;
  opacity: 0;
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
}
.header h6 {
  color: #fff;
  z-index: 3;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  opacity: 0;
  animation: fadebtm 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 700ms forwards;
}
.header h6 span {
  color: #c3996b;
  font-weight: 600;
}

.w100 {
  width: 100%;
}

@media (max-width: 550px) {
  .header {
    height: 250px;
  }
  .header h1 {
    font-size: 2em;
  }
}
.partners {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0;
}

.pas {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.location {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.location iframe {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.coLinks li {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1c1c1c;
}
.coLinks li span {
  font-size: 1.3em;
  white-space: nowrap;
}
.coLinks li a {
  color: #c3996b !important;
}

@media (max-width: 1071px) {
  .contact {
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 601px) {
  .form {
    width: 100%;
    padding: 0;
  }
  .location {
    width: 100%;
  }
}
@media (max-width: 551px) {
  .coLinks li {
    align-items: flex-start;
    flex-direction: column;
  }
  .location iframe {
    height: 250px;
  }
  .du label {
    padding-left: 0;
  }
  .du label::before {
    display: none;
  }
  .du .check label {
    padding-left: 10px;
  }
}
.form2 {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.form2 form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form2 header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form2 header h1 {
  color: #fff;
  font-size: 1.7em;
  text-transform: uppercase;
}
.form2 header span {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff;
  font-weight: 300;
}
.form2 header .hcen {
  text-align: center;
  padding-bottom: 10px;
}

.w600 {
  max-width: 600px;
}

@media (max-width: 501px) {
  .file #fileData {
    width: 60%;
  }
  .forms {
    padding: 50px 10px;
  }
  .form,
  .dataCard {
    width: 100%;
    padding: 30px 20px;
  }
  .bac {
    width: calc(100% - 40px);
  }
}
.input {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
}
.input label {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 10px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1em;
}
.input label::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 6px;
  right: 0;
  background-color: #c3996b;
}
.input input[type=text],
.input input[type=number],
.input .in {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: #fff;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: transparent;
  height: 40px;
  background-color: rgba(195, 153, 107, 0.1843137255);
}
.input textarea {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 200px;
  padding: 10px;
  resize: none;
  background-color: rgba(195, 153, 107, 0.1843137255);
  color: #fff;
  font-size: 1.1em;
}
.input .send .login {
  margin: 0 auto;
}
.input span {
  position: absolute;
  height: 40px;
  width: 6px;
  right: 0;
  background-color: #c3996b;
  bottom: 0;
}

.input.ta span {
  height: 200px;
}

.checks {
  display: flex;
  gap: 20px;
}

.check {
  display: flex;
  align-items: center;
}
.check label::before {
  display: none;
}

.sendBtn button {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #c3996b;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  transition: 0.2s;
}
.sendBtn button:hover {
  background-color: #6f5336;
}

.paginationCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  position: relative;
  direction: ltr;
  background-color: #1c1c1c;
  margin-top: 20px;
}

.page {
  font-size: 0.9em;
  color: #fff;
}
.page span {
  color: #c3996b;
}

@media (max-width: 471px) {
  .paginationCont {
    justify-content: center;
    padding: 0 20px;
  }
  .page {
    position: absolute;
    top: -27px;
    left: 5px;
  }
}
.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
.paginations button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3996b;
  border-radius: 50%;
  margin: 0 10px;
}
.paginations button img {
  width: 7px;
}

.spans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  list-style: none;
  padding: 0 10px;
}
.spans li:nth-child(1) .page-link {
  background-color: #fff;
}
.spans li:nth-child(1) .page-link.active {
  background-color: #fff;
}
.spans li:nth-child(1) .page-link.active:hover {
  background-color: #c7c7c8;
}
.spans li:nth-child(7) .page-link {
  background-color: #fff;
}
.spans li:nth-child(7) .page-link.active {
  background-color: #fff;
}
.spans li:nth-child(7) .page-link.active:hover {
  background-color: #c7c7c8;
}
.spans li .page-link.active {
  background-color: #c3996b;
  color: #fff;
}
.spans li .page-link.active:hover {
  background-color: #c3996b;
}
.spans li .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eef0f4;
  color: #1c1c1c;
  transition: 0.2s;
  cursor: pointer;
  font-size: 0.8em;
}
.spans li .page-link img {
  width: 7px;
}
.spans li .page-link:hover {
  background-color: #c7c7c8;
}

@media (max-width: 500px) {
  .prdos .product {
    width: 170px;
    height: auto;
  }
  .prdos .product .ptext {
    padding: 10px 10px 20px 10px;
  }
}
@media (max-width: 409px) {
  .prdos .product {
    width: 150px;
  }
  .prdos .product .co {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 370px) {
  .prdos .product {
    width: 200px;
  }
  .prdos .product .co {
    width: 40px;
    height: 40px;
  }
}
.cats {
  display: flex;
  justify-content: center;
}

.mySwiper4 {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.catCard {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  gap: 10px;
  border: 2px solid #c3996b;
  transition: 0.2s all ease;
  position: relative;
  overflow: hidden;
}
.catCard img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2;
}
.catCard h2 {
  width: 100%;
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 2;
  padding-bottom: 10px;
}

.cats-inner {
  padding: 0 20px 0 0;
}

@media (max-width: 360px) {
  .cats-inner {
    padding: 0;
  }
  .cats-inner .catCard {
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */