$main: #1c1c1c;
$latte: #c3996b;
$offwhite: #fcfcfc;
$body: #404041;
$gray: #f5f5f5;
$shadow: rgba(0, 0, 0, 0.05);

/* Start Default */

@font-face {
  font-family: "f400";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("./font/Segoe.woff") format("woff");
}

@font-face {
  font-family: "f700";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("./font/Segoe-Bold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "f400";
  color: #fff;
}

::selection {
  color: #fff;
  background: $main;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle($s) {
  width: $s;
  height: $s;
  border-radius: 50%;
}

@mixin noBorder() {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  width: 100%;
  overflow-x: hidden !important;
  background-color: $body;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $latte;
  }
}
@media (max-width: 900px) {
  body {
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}
button {
  @include noBorder();
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid $main; /* Border color */
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
}

/* Change the color of the checkbox when checked */
input[type="checkbox"]:checked {
  border-color: $main; /* Border color when checked */
  background-color: $main; /* Background color when checked */
}

/* Style the checkmark inside the checkbox */
input[type="checkbox"]::before {
  content: "\2713"; /* Unicode character for checkmark */
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
  font-size: 16px;
  color: #fff; /* Checkmark color */
  line-height: 16px;
  text-align: center;
  visibility: hidden;
}

/* Show the checkmark when the checkbox is checked */
input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-right {
  animation: faderight 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-top {
  animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 800ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.opacity {
  opacity: 0;
}

.opacity-ani {
  opacity: 0;
  animation: opacityani 800ms ease 500ms forwards;
}
@keyframes opacityani {
  100% {
    opacity: 1;
  }
}

/* End Default */

.box {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}
.box2 {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
}

/* End Default */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include flex();
  flex-direction: column;
  z-index: 10;
  transition: 0.3s all ease;
}
nav.color {
  background-color: $main;
}

.goTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  span {
    @include flex();
    @include circle(55px);
    background-color: $main;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
    cursor: pointer;
    transition: 0.2s;
    i {
      color: #fff;
      font-size: 1.5em;
    }
    &:hover {
      background-color: $latte;
      i {
        color: $main;
      }
    }
  }
}

.f-s {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  img {
    width: 150px;
    object-fit: contain;
  }
}

.links {
  display: flex;
  height: 90px;
  z-index: 4;
}
.mainLinks {
  display: flex;
  list-style: none;
  gap: 25px;
}
.link {
  width: fit-content;
  font-size: 1em;
  color: #fff;
  text-transform: capitalize;
  img {
    width: 7px;
  }
}
.link {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 90px;
  gap: 5px;
  transition: 0.2s;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    bottom: 25px;
    left: -101%;
    background-color: $latte;
    transition: 0.2s all ease;
  }
}

.link.active {
  &::after {
    left: 0;
  }
}

.menu {
  display: none;
  flex-direction: column;
  position: relative;
  height: 80px;
  width: 35px;
  @include noBorder();
  span {
    height: 2px;
    width: 30px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    transition: 0.3s;
    &:nth-child(1) {
      top: 28px;
    }
    &:nth-child(2) {
      top: 40px;
    }
    &:nth-child(3) {
      top: 52px;
    }
  }
}

.activeMenu .box .menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 40px;
  background-color: red;
}
.activeMenu .box .menu span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.activeMenu .box .menu span:nth-child(3) {
  transform: rotate(-45deg);
  background-color: red;
  top: 40px;
}
.ls {
  display: flex;
  gap: 20px;
  .mLinks {
    display: none;
  }
}

@media (max-width: 901px) {
  .menu {
    display: flex;
  }
  .last {
    .mLinks {
      display: none;
    }
  }
  .ls {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    top: 80px;
    left: -100%;
    gap: 0;
    transition: 0.4s;
    background-color: $main;
    padding: 0 0 70px 0;
    .mLinks {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5%;
    }
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  .mainLinks {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    gap: 20px;
  }
  .link {
    margin-left: 5%;
  }
  .link {
    height: 40px;
    &::after {
      bottom: 0;
    }
  }
  .activeMenu .f-s .links .ls {
    left: 0;
  }
  .layer {
    display: none;
  }
}


.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  user-select: none;
  border-bottom: 5px solid $latte;
  overflow: hidden;
}
.homeImgs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.m1 {
  position: relative;
  margin-right: auto;
  width: calc(100% / 3);
  height: 100%;
  z-index: 1;
  transition: 0.3s all ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.m1.active {
  width: calc(100% / 2);
}
.m2 {
  position: relative;
  margin-left: auto;
  width: calc(100% / 3);
  height: 100%;
  z-index: 1;
  transition: 0.3s all ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.m2.active2 {
  width: calc(100% / 2);
}
.shadow {
  position: relative;
  transition: 0.3s all ease;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    transition: 0.3s all ease;
  }
  &:hover {
    &::after {
      background-color: transparent;
    }
  }
}

.imgs {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 2;
  transition: 400ms all ease;
  width: 70%;
  .shadow {
    @include flex();
    transform: skew(-10deg);
    width: calc(100% / 3);
    position: relative;
    overflow: hidden;
    &:hover {
      width: calc(100% / 1.5);
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.imgs.active {
  transform: translateX(23%);
}
.imgs.active2 {
  transform: translateX(-23%);
}
.ht {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.readM {
  padding: 5px 25px;
  background-color: $main;
  border-radius: 10px;
  color: #fff;
  @include flex();
  z-index: 3;
  gap: 5px;
  position: absolute;
  bottom: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 0.3s all ease;
  i {
    transition: 0.3s all ease;
  }
  &:hover {
    background-color: $latte;
    color: $main;
    i {
      color: $main;
    }
  }
}

.mySwiper {
  width: 100%;
  height: 100%;
  user-select: none;
  .swiper-slide {
    margin: 0 auto;
  }
}

.client {
  @include flex();
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 5px;
  outline: 2px solid $latte;
  background-color: #fff;
  img {
    position: absolute;
    width: 85%;
    height: 85%;
    object-fit: contain;
  }
}

.pb50 {
  padding-bottom: 50px;
}
@media (max-width: 360px) {
  .client {
    margin: 0 auto;
  }
}
.counter {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.counterCard {
  width: 280px;
  height: 280px;
  @include flex();
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  background-color: $main;
  transition: 0.3s all ease;
  &::after {
    content: "";
    position: absolute;
    width: 105%;
    height: 105%;
    background-color: transparent;
    border-radius: 5px;
    z-index: -1;
    transition: 0.3s all ease;
  }
  &:hover {
    scale: 1.05;
    &::after {
      background-color: rgba(28, 28, 28, 0.5);
    }
  }
  h1 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 3.5em;
    white-space: nowrap;
    user-select: none;
    font-weight: 600;
    color: $latte;
    line-height: 1.25;
    z-index: 2;
    &::after {
      content: "+";
      font-size: 0.5em;
    }
  }
  span {
    font-size: 1.2em;
    white-space: nowrap;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 2;
  }
  i {
    position: absolute;
    z-index: 1;
    font-size: 10em;
    color: $latte;
    opacity: 0.1;
  }
}
.counterInner {
  @include flex();
  flex-direction: column;
  position: relative;
}
@media (max-width: 1200px) {
  .counter {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .counterCard {
    height: 170px;
    width: calc(50% - 10px);
    h1 {
      font-size: 2.5em;
    }
    span {
      font-size: 1em;
    }
    i {
      font-size: 6em;
    }
  }
}
@media (max-width: 350px) {
  .counterCard {
    height: 150px;
    h1 {
      font-size: 2em;
    }
    span {
      font-size: 0.9em;
    }
    i {
      font-size: 5em;
    }
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: $main;
  height: auto;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  img {
    width: 250px;
  }
  .aboutText {
    width: 400px;
    article {
      p {
        font-size: 1em;
      }
    }
  }
}
.footerLinkGroup {
  display: flex;
  gap: 100px;
}
.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    gap: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    width: fit-content;
    &::after {
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: $latte;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    li {
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.1em;
        line-height: 1.7;
        color: #fff;
        text-transform: uppercase;
        transition: 0.2s all ease;
        font-weight: 300;
        img {
          width: 8px;
          object-fit: contain;
        }
        &:hover {
          color: $latte;
        }
      }
    }
  }
}

.cont {
  width: 290px;
  ul {
    li {
      &:nth-child(1) {
        a {
          line-height: 1.5;
        }
      }
      a {
        line-height: 2;
        img {
          width: 20px;
        }
      }
    }
  }
}

.drop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  .dropMenu {
    @include flex();
    display: none;
    height: 43px;
    padding: 0 20px;
    position: absolute;
    top: calc(100% + 20px);
    background-color: $latte;
    border-radius: 5px;
    a {
      display: flex;
      gap: 5px;
      align-items: center;
      color: #fff;
      .langu {
        width: 20px;
        margin-top: 3px;
      }
    }
  }
  a {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #fff;
    .langu {
      width: 20px;
    }
    .drop-icon {
      @include flex();
      width: 6px;
      transition: 0.2s;
      transform: translateY(1px);
    }
  }
}
.drop.active {
  .dropMenu {
    display: flex;
  }
  .drop-icon {
    transform: rotate(90deg);
  }
}
.media {
  display: flex;
  gap: 10px;
  transform: translateY(-10px);
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #fff;
    transition: 200ms all ease;
    i {
      font-size: 1.3em;
      color: $main;
      transition: 200ms all ease;
    }
    &:hover {
      background-color: $latte;
      i {
        color: #fff;
      }
    }
  }
}
@media (max-width: 1001px) {
  .footer {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 601px) {
  .footerLinkGroup {
    flex-direction: column;
    gap: 30px;
  }
  .linkGroup {
    width: 100%;
  }
  .cont {
    width: 100%;
  }
}
@media (max-width: 421px) {
  .footerLogo {
    img {
      width: 200px;
    }
    .aboutText {
      width: 100%;
    }
  }
}
@media (max-width: 551px) {
  .circle {
    display: none;
  }
}

.homePlay {
  @include flex();
  @include circle(60px);
  position: absolute;
  bottom: 100px;
  z-index: 5;
  background-color: $main;
  cursor: pointer;
  transition: 0.3s all ease;
  i {
    @include flex();
    color: #fff;
    font-size: 1.3em;
  }
  &::after {
    position: absolute;
    content: "";
    @include circle(70px);
    z-index: -1;
    transition: 0.2s all ease;
  }
  &:hover {
    &::after {
      background-color: rgba(28, 28, 28, 0.5);
    }
  }
  .fa-pause {
    display: none;
  }
}
.preventPlay {
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.hxt {
  position: absolute;
  display: flex;
  justify-content: left;
  z-index: 3;
  transition: 0.4s all cubic-bezier(0.215, 0.61, 0.355, 1);
}

.homeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 550px;
  h1 {
    color: #fff;
    font-size: 3em;
    line-height: 1;
    text-transform: uppercase;
    span {
      font-size: 1.7em;
    }
  }
  a {
    @include flex();
    width: 140px;
    text-transform: uppercase;
    height: 40px;
    border-radius: 7px;
    color: #fff;
    transition: 0.3s all ease;
    background-color: $main;
    margin-top: 10px;
    &::after {
      border-radius: 7px;
      content: "";
      position: absolute;
      width: 150px;
      height: 50px;
      z-index: -1;
      transition: 0.2s all ease;
    }
    &:hover {
      &::after {
        background-color: rgba(28, 28, 28, 0.5);
      }
    }
  }
}

.pause {
  .homePlay {
    bottom: 20px;
    .fa-pause {
      display: block;
    }
    .fa-play {
      display: none;
    }
  }
  .readM {
    bottom: -100%;
  }
  .hxt {
    transform: translateX(-200%);
  }
  .preventPlay {
    display: none;
  }
}
@media (max-width: 550px) {
  .homeText {
    h1 {
      font-size: 2em;
    }
  }
}
.p50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about {
  width: 100%;
  @include flex();
  position: relative;
  overflow: hidden;
}
.swiper {
  width: 100%;
}
.aboutCont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  img {
    width: 300px;
    border-radius: 5px;
  }
}
.aboutText {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p,
  h1 {
    position: relative;
    padding-left: 20px;
    &::before {
      position: absolute;
      left: 0;
      content: "";
      width: 4px;
      height: 100%;
      background-color: $latte;
    }
  }
  h1 {
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    img {
      width: 50px;
      height: 30px;
      object-fit: contain;
      border-radius: 0;
    }
  }
  a {
    width: fit-content;
    @include flex();
    color: #fff;
    height: 40px;
    border-radius: 7px;
    padding: 0 30px;
    transition: 0.3s all ease;
    background-color: $latte;
    &::after {
      content: "";
      position: absolute;
      width: 145px;
      height: 47px;
      background-color: transparent;
      border-radius: 7px;
      z-index: -1;
      transition: 0.3s all ease;
    }
    &:hover {
      scale: 1.05;
      &::after {
        background-color: rgba(28, 28, 28, 0.5);
      }
    }
    &:hover {
      background-color: $main;
      &::after {
        background-color: rgba(28, 28, 28, 0.5);
      }
    }
  }
}

header {
  @include flex();
  width: 100%;
  height: 90px;
  background-color: $main;
  z-index: 2;

  h1 {
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: capitalize;
  }
}
.mySwiper2 {
  .swiper-slide {
    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border: 1px solid $latte;
      border-radius: 9px;
    }
  }
  .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 1;
    transition: 0.2s;
  }
  .swiper-pagination-bullet-active {
    background-color: $latte;
  }
}

.clients {
  width: 100%;
  @include flex();
  position: relative;
  flex-direction: column;
}
.clientsInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viw {
  padding: 5px 25px;
  background-color: $main;
  border-radius: 10px;
  color: #fff;
  @include flex();
  z-index: 2;
  gap: 5px;
  bottom: 40px;
  font-size: 0.9em;
  text-transform: uppercase;
  transition: 0.3s all ease;
  i {
    transition: 0.3s all ease;
  }
  &:hover {
    background-color: $latte;
    color: $main;
    i {
      color: $main;
    }
  }
}
@media (max-width: 800px) {
  .aboutText {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .mySwiper2 {
    .swiper-slide {
      img {
        height: 200px;
      }
    }
  }
  .aboutText {
    h1 {
      font-size: 1.7em;
    }
    p {
      font-size: 0.9em;
    }
  }
}

@media (max-width: 370px) {
  .aboutText {
    h1 {
      font-size: 1.5em;
    }
    p {
      font-size: 0.8em;
    }
  }
}
.loader {
  @include flex();
  flex-direction: column;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 40;
  width: 100%;
  height: 100%;
  background-color: $main;
  animation: hide 400ms ease 3000ms forwards;
  img {
    &:nth-child(2) {
      width: 80px;
      margin-left: 25px;
    }
  }
}
@keyframes hide {
  100% {
    top: 100%;
  }
}

.loaderLogo {
  opacity: 0;
  animation: loader 1.5s linear 0s infinite forwards;
  img {
    width: 170px;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ps {
  padding: 50px 0 50px 20px;
}
.pw0 {
  padding: 0 0 50px 20px;
}
.mySwiper3 {
  padding: 50px 0;
  user-select: none;
}
.product {
  display: flex;
  align-items: flex-start;
  width: 200px;
  height: 280px;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  background-color: $main;
}
@media (max-width: 360px) {
  .mySwiper3 {
    .product {
      margin: 0 auto;
    }
  }
}

.pImg {
  @include flex();
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: #fff;
  border-radius: 7px 7px 0 0;
  img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
}
.ptext {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  border-top: 3px solid $latte;
  h1 {
    font-size: 1em;
    font-weight: 400;
    text-transform: capitalize;
  }
}
.price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
  span {
    color: $latte;
    font-weight: 600;
  }
}
.co {
  @include flex();
  position: absolute;
  top: calc(50%);
  border-radius: 0 0 7px 7px;
  width: 40px;
  height: 40px;
  top: 6px;
  left: 6px;
  img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
}

.header {
  @include flex();
  width: 100%;
  height: 400px;
  position: relative;
  flex-direction: column;
  gap: 10px;
  border-bottom: 5px solid $latte;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c7e;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h1 {
    color: #fff;
    z-index: 2;
    font-size: 4em;
    text-transform: uppercase;
    opacity: 0;
    animation: fadetop 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
  }
  h6 {
    color: #fff;
    z-index: 3;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
    white-space: nowrap;
    opacity: 0;
    animation: fadebtm 800ms cubic-bezier(0.215, 0.61, 0.355, 1) 700ms forwards;
    span {
      color: $latte;
      font-weight: 600;
    }
  }
}
.w100 {
  width: 100%;
}
@media (max-width: 550px) {
  .header {
    height: 250px;
    h1 {
      font-size: 2em;
    }
    h6 {
      font-size: 0.8em;
    }
  }
}
.partners {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0;
}
.pas {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.location {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  iframe {
    width: 100%;
    height: 350px;
    border-radius: 10px;
  }
}
.coLinks {
  li {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $main;
    span {
      font-size: 1.3em;
      white-space: nowrap;
    }
    a {
      color: $latte !important;
    }
  }
}
@media (max-width: 1071px) {
  .contact {
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 601px) {
  .form {
    width: 100%;
    padding: 0;
  }
  .location {
    width: 100%;
  }
}
@media (max-width: 551px) {
  .coLinks {
    li {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .location {
    iframe {
      height: 250px;
    }
  }
  .du {
    label {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
    .check {
      label {
        padding-left: 10px;
      }
    }
  }
}

.form2 {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    h1 {
      color: #fff;
      font-size: 1.7em;
      text-transform: uppercase;
    }
    span {
      text-transform: uppercase;
      font-size: 0.8em;
      color: #fff;
      font-weight: 300;
    }
    .hcen {
      text-align: center;
      padding-bottom: 10px;
    }
  }
}

.w600 {
  max-width: 600px;
}
@media (max-width: 501px) {
  .file {
    #fileData {
      width: 60%;
    }
  }
  .forms {
    padding: 50px 10px;
  }
  .form,
  .dataCard {
    width: 100%;
    padding: 30px 20px;
  }
  .bac {
    width: calc(100% - 40px);
  }
}

.input {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
  label {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1em;
    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 6px;
      left: 0;
      background-color: $latte;
    }
  }
  input[type="text"],
  input[type="number"],
  .in {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #fff;
    font-size: 1em;
    @include noBorder();
    height: 40px;
    background-color: #c3996b2f;
  }
  textarea {
    @include noBorder();
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
    background-color: #c3996b2f;
    color: #fff;
    font-size: 1.1em;
  }
  .send {
    .login {
      margin: 0 auto;
    }
  }
  span {
    position: absolute;
    height: 40px;
    width: 6px;
    left: 0;
    background-color: $latte;
    bottom: 0;
  }
}
.input.ta span {
  height: 200px;
}
.checks {
  display: flex;
  gap: 20px;
}
.check {
  display: flex;
  align-items: center;
  label {
    &::before {
      display: none;
    }
  }
}
.sendBtn {
  button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    @include noBorder();
    background-color: $latte;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: #6f5336;
    }
  }
}

.paginationCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  position: relative;
  direction: ltr;
  background-color: $main;
  margin-top: 20px;
}
.page {
  font-size: 0.9em;
  color: #fff;
  span {
    color: $latte;
  }
}
@media (max-width: 471px) {
  .paginationCont {
    justify-content: center;
    padding: 0 20px;
  }
  .page {
    position: absolute;
    top: -27px;
    left: 5px;
  }
}

.paginations {
  @include flex();
  direction: ltr;
  button {
    width: 30px;
    height: 30px;
    @include flex();
    background-color: $latte;
    border-radius: 50%;
    margin: 0 10px;
    img {
      width: 7px;
    }
  }
}
.spans {
  @include flex();
  gap: 5px;
  list-style: none;
  padding: 0 10px;
  li {
    &:nth-child(1) {
      .page-link {
        background-color: #fff;
      }
      .page-link.active {
        background-color: #fff;
        &:hover {
          background-color: #c7c7c8;
        }
      }
    }
    &:nth-child(7) {
      .page-link {
        background-color: #fff;
      }
      .page-link.active {
        background-color: #fff;
        &:hover {
          background-color: #c7c7c8;
        }
      }
    }
    .page-link.active {
      background-color: $latte;
      color: #fff;
      &:hover {
        background-color: $latte;
      }
    }
    .page-link {
      @include flex();
      @include circle(30px);
      background-color: #eef0f4;
      color: $main;
      transition: 0.2s;
      cursor: pointer;
      font-size: 0.8em;
      img {
        width: 7px;
      }
      &:hover {
        background-color: #c7c7c8;
      }
    }
  }
}

@media (max-width: 500px) {
  .prdos {
    .product {
      width: 170px;
      height: auto;
      .ptext {
        padding: 10px 10px 20px 10px;
      }
    }
  }
}
@media (max-width: 409px) {
  .prdos {
    .product {
      width: 150px;
      .co {
        width: 30px;
        height: 30px;
      }
    }
  }
}
@media (max-width: 370px) {
  .prdos {
    .product {
      width: 200px;
      .co {
        width: 40px;
        height: 40px;
      }
    }
  }
}
.cats {
  display: flex;
  justify-content: center;
}

.mySwiper4 {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  user-select: none;
}
.catCard {
  width: 200px;
  @include flex();
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  gap: 10px;
  border: 2px solid $latte;
  transition: 0.2s all ease;
  position: relative;
  overflow: hidden;
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    z-index: 2;
  }
  h2 {
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 2;
    padding-bottom: 10px;
  }
}

.cats-inner{
  padding: 0 0 0 20px;
}